@font-face {
    font-family: cyber;
    src: url(../fonts/Cyberjunkies.otf);
}

@font-face {
    font-family: dash;
    src: url(../fonts/Dash-Horizon-Demo.otf);
}

@font-face {
    font-family: tektur;
    src: url(../fonts/TekturNarrow-Bold.ttf);
}

@font-face {
    font-family: unbutton;
    src: url(../fonts/unbutton.ttf);
}

@font-face {
    font-family: highspeed;
    src: url(../fonts/High-Speed.ttf);
}

body {
    overflow-y: hidden;
    position: relative;
}

#lan-wrapper {
    padding: 0 40px;
}

#bg-image {
    position: absolute;
    z-index: -1;
    background-image: url(../img/sr_bg.jpeg);
    background-size: cover;
    backdrop-filter: blur(5px);
    filter: blur(5px) brightness(0.55);
    height: 101%;
    width: 101%;
    top: -0.5%;
    left: -0.5%;
}

h1, h2 {
    letter-spacing: 1px;
    text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.75);
}

h1 {
    font-size: 5rem;
    color: rgb(255, 24, 197);
}

h2 {
    font-family: tektur;
    color: rgb(44, 146, 255);
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
}

#lan-wrapper > h2 {
    color: #ff00ef;
    font-weight: 1000;
    text-decoration: tekstur;
}

#lan-wrapper p {
    font-size: 18px;
}

#lan-wrapper > h1 {
    margin-bottom: 15px;
    font-family: unbutton;
    text-shadow: 1px 3px 2px rgba(0,0,0,0.75);
    padding-top: 0.5rem;
    margin-top: 0;
}

#lan-left-column {
    position: relative;
    min-height: 80vh;
}

#lan-latest-game-wrapper > p {
    margin-bottom: 0.75rem;
}

.lan-performance-avatar {
    width: auto;
    height: 70px;
}

.lan-performance-wrapper {
    position: relative;
}

.lan-performance-wrapper p {
    margin-bottom: 0.75rem;
}

#lan-perform-first-row {
    border-bottom: 2px solid white;
}

.lan-perform-entry {
    width: 8%;
    text-align: center;
    padding: 6px 0;
}

#lan-active-game-wrapper {
    text-align: center;
}

#lan-blue-side-wrapper, #lan-red-side-wrapper {
    position: relative;
}

.lan-champ-splash-wrapper {
    display: inline-flex;
    position: relative;
    width: 18%;
    padding: 5px;
}

.lan-champ-splash {
    width: 100%;
    height: auto;
}

.lan-champ-splash-blue {
    border: solid 2px rgb(25, 93, 219);
}

.lan-champ-splash-red {
    border: solid 2px rgb(202, 23, 23);
}

.lan-champ-face {
    position: absolute;
}

#lan-vs-img {
    width: 50px;
    height: auto;
}

@keyframes live_dot {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

#live-indicator {
    display: inline-flex;
    width: 18px;
    height: 18px;
    clip-path: circle();
    background-color: red;
    margin-bottom: 2px;

    animation-name: live_dot;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.lan-our-team {
    font-family: cyber, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: gold;
    margin-top: 2rem;
}

.lan-enemy-team {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    letter-spacing: 2px;
    color: #d98b53;
}

#lan-live-game-feed-wrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 1s;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    background-color: #00000079;
}

#lan-live-game-feed-wrapper > div {
    position: absolute;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    width: 70%;
    height: 80%;
    top: 10%;
    left: 15%;
}

@keyframes addToFeed {
    0% {
        opacity: 0;
        transform: translateX(150%);
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.lan-game-feed-entry {
    position: relative;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    background-color: #0b0a0a;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px 20px;

    font-family: Consolas;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.lan-game-feed-entry.ally {
    color: rgb(0, 145, 232);
}

.lan-game-feed-entry.enemy {
    color: rgb(195, 20, 20);
}

.lan-game-feed-entry.win {
    color: rgb(10, 218, 17);
}

.lan-game-feed-entry.neutral {
    color: white;
}

.lan-game-feed-entry-desc {
    width: 95%;
    text-align: left;
}

.lan-game-feed-entry-icon {
    position: absolute;
    right: 14px;
    top: 18px;
    width: 4%;
}

.lan-emph {
    font-weight: 600;
}

.lan-won {
    color: rgb(35, 202, 57);
}

.lan-lost {
    color: rgb(202, 23, 23);
}

#lan-now-playing-wrapper {
    font-size: 30px;
    text-align: left;
    position: fixed;
    left: -30px;
    top: -30px;
    display: inline-block;
    background-color: #000;
    padding: 25px 20px 15px 45px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-radius: 30px;
    width: auto;
    max-width: 620px;
    height: 150px;
    overflow: hidden;
}

#lan-now-playing-wrapper > h2 {
    text-align: left;
    width: 300px;
}

#lan-tilt-meter-wrapper {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 120px;
    width: 75%;
    margin: 0 auto;
}

#lan-latest-game-wrapper {
    width: 75%;
    margin: 0 auto;
}

#lan-tilt-meter {
    position: relative;
    border: solid 1px white;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.438);
}

#lan-tilt-filled {
    height: 100%;
    background-color: red;
}

#lan-tilt-text {
    color: #0289ff;
    font-size: 24px;
    font-weight: 800;
    position: absolute;
    margin: 0;
    height: 30px;
    top: calc(50% - 15px);
    width: 200px;
    left: calc(50% - 100px);
}

#lan-teamcomp-wrapper {
    margin: 0 auto;
    text-align: center;
}

#lan-teamcomp-wrapper > div:first-child {
    border-right: 2px solid white;
}

#lan-teamcomp-scroll {
    max-height: 290px;
    overflow-y: auto;
    padding-bottom: 10px;
    scrollbar-width: none;
}

#lan-teamcomp-scroll > p {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 5px;
}

.lan-team-comp-champ {
    width: 60px;
    height: auto;
    margin-right: 5px;
}

#lan-bingo-wrapper {
    position: relative;
    border: 2px solid white;
    padding: 0 5px;
    text-align: center;
    height: 575px;
    width: 96%;
}

#lan-bingo-wrapper > .row {
    position: relative;
    height: 20%;
}

.lan-bingo-entry {
    position: relative;
    background-color: #012647;
    border: 1px solid white;
    width: 20%;
    padding: 8px;
}

.lan-bingo-entry.bingo-completed {
    background: radial-gradient(circle at center, rgb(17, 120, 17), #194006);
}

.lan-bingo-entry.bingo-bingo {
    background: radial-gradient(circle at center, #a89d05, #514b0e);
}

.lan-bingo-desc {
    font-size: 18px;
    font-weight: 800;
    position: relative;
    z-index: 2;
    word-wrap: break-word;
    line-height: 1.3;
    text-shadow: -3px 2px 2px rgba(0, 0, 0, 0.75);
}

.lan-bingo-desc-progress {
    font-weight: 100;
    color: #ff8f4b;
    position: absolute;
    z-index: 2;
    bottom: 5px;
    width: 100%;
    margin: 0 auto;
    left: 0;
}

@keyframes progress {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.lan-bingo-updated {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 29px;
    overflow: hidden;
}

.lan-bingo-updated > img {
    display: block;
    animation-name: progress;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 44px;
    padding-bottom: 15px;
}

.lan-bingo-progress-bar {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(to top, rgb(18, 90, 18), rgb(4, 129, 4));
    border-top: 1px solid #005400;
    position: absolute;
}

.lan-bingo-person {
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    padding-top: 5%;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.lan-bingo-person > img {
    position: relative;
    width: 90%;
    height: auto;
}

#lan-bingo-bango-wrapper {
    font-family: highspeed;
    font-size: 6rem;
    font-weight: 1000;
    color: #f210ef;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);
    background-color: #00000069;
    letter-spacing: 10px;
    line-height: 1.3;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#lan-no-games-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#lan-no-games-wrapper > video {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

@keyframes pink_fade {
    0% {
        color: #eb13c0;
    }
    100% {
        color: #ad00fd;
    }
}

#lan-no-games-wrapper > h1 {
    position: relative;
    font-family: dash;

    font-size: 220px;
    z-index: 2;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);

    animation-name: pink_fade;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.lan-catjam {
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(30% 0%, 30% 100%, 100% 100%, 100% 0);
    width: 538px;
}