auth.json
venv
*.ttf
queries.sql
.vscode
__pycache__
*.db
*.pt
api/champions*.json
api/maps.json
debug.log
app/static/*
resouces/consola.tff
resources/data
vendor
composer.lock
all_messages.txt
fix_payouts.py
misc
todo.txt
dummy.txt