auth.json
.venv
*.ttf
queries.sql
.vscode
__pycache__
__pypackages__
*.pt
resources/champions*.json
resources/items*.json
resources/maps.json
resources/databases
src/app/static/*
src/app/static/*/bootstrap/
!src/app/static/js/
!src/app/static/css/
resouces/consola.tff
resources/data
vendor
composer.lock
all_messages.txt
fix_payouts.py
misc
log
todo.txt
dummy.txt
resources/message.txt
pdm.lock
.pdm-python
.pdm-config