auth.json
.venv
*.ttf
queries.sql
.vscode
__pycache__
__pypackages__
*.pt
resources/databases
resources/skins.csv
resources/lol_data.json
src/intfar/app/static/*
src/intfar/app/static/*/bootstrap/
!src/intfar/app/static/js/
!src/intfar/app/static/css/
resouces/consola.tff
resources/game_data
resources/match_data
resources/cookies.txt
vendor
composer.lock
all_messages.txt
fix_payouts.py
misc
log
todo.txt
dummy.txt
resources/message.txt
.python-version