<!DOCTYPE html>
<html>
    {% include 'jeopardy/contestant_head.html' %}
    
    <body>
        <div id="bg-image" style="background-image: url({{ url_for('static', _external=True, filename='img/jeopardy/' + player_bg_img) }});"></div>

        <div id="contestant-game-wrapper">
            <h1{% if question and jeopardy_round > 0 and jeopardy_round < total_rounds + 1 %} class="d-none"{% endif %}>Jeopardy!</h1>

            <div id="contestant-game-header" style="border: 2px solid {{ color }};">
                <div>
                    <img src="{{ avatar }}">
                    <div id="contestant-game-name">{{ nickname }}</div>
                </div>
                <div id="contestant-game-info">
                    <div id="contestant-game-score" style="font-weight: 800;">{{ score }} GBP</div>
                    <div id="contestant-game-buzzes">{{ buzzes }} buzzes</div>
                    <div id="contestant-game-stats"><span id="contestant-game-hits">{{ hits }}</span> | <span id="contestant-game-misses">{{ misses }}</span></div>
                    <div id="contestant-game-ping" class="contestant-low-ping">{{ ping }} ms</div>
                </div>
            </div>
    
            {% if jeopardy_round == 0 %}

                <h2 id="contestant-game-waiting">Venter på at spillet starter...</h2>

            {% elif jeopardy_round == total_rounds + 1 %}

            <!-- Endscreen -->
            {% if active_player in winner_ids %}
                <h2 class="player-has-turn">Du vandt! TILLYKKE!!!</h2>
            {% else %}
                <h2>Spillet er slut! Thanks for playing, Daisy!</h2>
            {% endif %}

            {% else %}
                <h2 class="contestant-round-header">Runde {{ jeopardy_round }}/{{ total_rounds }}</h2>
                {% if jeopardy_round < total_rounds %}
                {% set has_turn = turn_id == player_turn %}
                <h2 class="contestant-round-header">Spørgsmål {{ question_num }}/30</h2>
                {% else %}
                <h2 class="contestant-round-header">Final Jeopardy!</h2>
                {% endif %}

                {% if question %}

                    {% if jeopardy_round == total_rounds %}
    
                    <!-- Final Jeopardy answer -->
                    <h2 id="question-category-name">{{ category_name }}</h2>
                    <h3 id="finale-wager-header">Du har satset <strong>{{ finale_wager }}</strong> GBP</h3>

                    {% if finale_wager > 0 %}
                    <div id="finale-question-wrapper" class="d-none">
                        <h3 id="finale-question-header">{{ question["question"] }}</h3>
                        <h4>Skriv svaret herunder</h4>
    
                        <input id="finale-answer">
                        <button id="contestant-wager-btn" onclick="giveFinalJeopardyAnswer('{{ active_player }}');">OK</button>
                    </div>
                    {% else %}
                    <h4>Du kan ikke svare, da du ikke har satset noget.</h4>

                    {% endif %}

                    {% else %}
                    <!-- Question screen -->
                    <h2 id="question-category-header"><span id="question-category-name">{{ category_name }}</span>{% if jeopardy_round < total_rounds %}<br>{% if daily_double %}Daily Double!{% else %}til <span id="question-reward-span">{{ question_value }} GBP</span>{% endif %}{% if "choices" in question %} <img src="{{ url_for('static', _external=True, filename='img/list.png') }}" id="question-choices-indicator">{% endif %}{% endif %}</h2>

                    {% if daily_double %}

                        {% if has_turn %}
                            {% set max_wager = [score, 500 * jeopardy_round] | max %}

                            <h3 class="player-has-turn">Your move! Hvor mange GBP vil du satse?<br>(Min. 100, max. {{ max_wager }})</h3>
                            <input id="question-wager-input" type="number" min="100" max="{{ max_wager }}">
                            <button id="contestant-wager-btn" onclick="makeDailyDoubleWager('{{ active_player }}');">OK</button>

                        {% else %}
                            {% set other_player = player_data[player_turn]["name"] %}
                            <h3>Venter på at <strong>{{ other_player }}</strong> svarer på Daily Double...</h3>

                        {% endif %}
                    
                    {% else %}

                    <!-- Buzzer -->
                    <div id="buzzer-wrapper" onclick="pressBuzzer('{{ active_player }}');">
                        <img id="buzzer-active" src="{{ url_for('static', _external=True, filename='img/jeopardy/buzzer_active.png') }}" class="d-none">
                        <img id="buzzer-inactive" src="{{ url_for('static', _external=True, filename='img/jeopardy/buzzer_inactive.png') }}">
                        <img id="buzzer-pressed" src="{{ url_for('static', _external=True, filename='img/jeopardy/buzzer_pressed.png') }}" class="d-none">
                    </div>

                    <div id="contestant-buzzer-status" class="d-none">
                        <img id="buzzer-winner" src="{{ url_for('static', _external=True, filename='img/check.png') }}" class="d-none">
                        <img id="buzzer-loser" src="{{ url_for('static', _external=True, filename='img/wrong.png') }}" class="d-none">
                    </div>

                    <!-- Power-Ups -->
                    <div id="contestant-power-ups">
                        {% for power_up in power_ups %}
                        <button id="contestant-power-btn-{{ power_up['power_id'] }}" {% if not power_up['used'] and power_up['enabled'] %}onclick="usePowerUp('{{ active_player }}', '{{ power_up['power_id'] }}')"{% else %}disabled{% endif %}>
                            <img src="{{ url_for('static', _external=True, filename='img/forbidden.png') }}" class="contestant-power-used {% if not power_up['used'] %}d-none{% endif %}">
                            <img src="{{ url_for('static', _external=True, filename='img/jeopardy/power_' + power_up['power_id'] + '.png') }}" class="contestant-power-icon {% if not power_up['enabled'] or power_up['used'] %}power-disabled{% endif %}">
                        </button>
                        {% endfor %}
                    </div>

                    {% endif %}
                    {% endif %}

                {% else %}
    
                {% if jeopardy_round == total_rounds %}
                
                <!-- Final Jeopardy wager -->
                <h2 id="finale-category-header">{{ category_name }}</h2>

                {% set max_wager = [score, 500] | max %}
                <h3>Hvor mange GBP tør du satse?!<br>(Min. 0, max. {{ max_wager }})</h3>

                <input id="finale-wager-amount" type="number" min="0" max="{{ max_wager }}" disabled>
                <button id="contestant-wager-btn" onclick="makeFinalJeopardyWager('{{ active_player }}');" disabled>OK</button>

                {% else %}

                    <!-- Selection screen -->
                    {% if player_turn == -1 %}
                        <h3 id="contestant-turn-desc"></h3>
                    {% else %}

                        {% if has_turn %}
                        <h3 id="contestant-turn-desc" class="player-has-turn">Din tur til at vælge en kategori!</h3>
                        
                        {% else %}
                        {% set other_player = player_data[player_turn]["name"] %}
                        <h3 id="contestant-turn-desc">Venter på at <strong>{{ other_player }}</strong> vælger en kategori...</h3>
                        {% endif %}

                    {% endif %}

                {% endif %}

                {% endif %}

            {% endif %}

            {% if jeopardy_round < total_rounds + 1 %}
            <script>
                socket.on("connect", function() {
                    pingActive = true;
                    sendPingMessage("{{ active_player }}");
                    socket.emit("join_lobby", "{{ active_player }}", "{{ nickname }}", "{{ avatar }}", "{{ color }}");
                    animateWaitingText();
                    monitorGame("{{ active_player }}", {{ turn_id }});

                    {% if jeopardy_round == 1 and player_turn == -1 %}
                    socket.on("turn_chosen", function(turnId) {
                        let elem = document.getElementById("contestant-turn-desc");
                        if (turnId == {{ turn_id }}) {
                            elem.textContent = "Din tur til at vælge en kategori!";
                            elem.className = "player-has-turn";
                        }
                        else {
                            elem.textContent = "Venter på at en anden spiller vælger en kategori...";
                        }
                    });
                    {% elif jeopardy_round == total_rounds %}
                        {% if question %}
                        socket.on("finale_category_revealed", function() {
                            document.getElementById("finale-question-wrapper").classList.remove("d-none");
                        });
                        {% else %}
                        socket.on("finale_wager_enabled", function() {
                            document.getElementById("contestant-wager-btn").disabled = false;
                            document.getElementById("finale-wager-amount").disabled = false;
                        });
                        {% endif %}
                    {% endif %}
                });
                socket.on("disconnect", function() {
                    pingActive = false;
                });
            </script>
            {% endif %}
        </div>
    </body>
</html>