<!DOCTYPE html>
<html>
    {% include 'jeopardy/contestant_head.html' %}

    <body>
        <div id="contestant-lobby-wrapper">
            <h1>Velkommen til Jeopardy!</h1>

            <form action="{{ url_for('jeopardy_contestant.join_lobby') }}" method="post">
                <h2>Lobby kode</h2>
                <input name="code" required>
                {% if error %}
                <div id="contestant-lobby-error">{{ error }}</div>
                {% endif %}

                <h2>Hvem er du?</h2>
                <select id="contestant-lobby-name" name="contestant">
                    {% for player in player_data %}
                    <option value="{{ player['id'] }}">{{ player['name'] }}</option>
                    {% endfor %}
                </select>

                <input id="contestant-lobby-color" name="color" type="color">
                <input id="contestant-lobby-join" type="submit" value="Join">
            </form>

        </div>
    </body>
    
    <script>
        setRandomColor();
    </script>
</html>