<!DOCTYPE html>
<html>
    {% include 'jeopardy/contestant_head.html' %}

    <body>
        <div id="contestant-lobby-wrapper">
            <h1>Velkommen til Jeopardy!</h1>

            <form action="{{ url_for('jeopardy_contestant.join_lobby') }}" method="post">
                <img id="contestant-lobby-avatar" src="{{ avatar }}">
                <input id="contestant-lobby-name" name="name" required value="{{ player_name }}" maxlength="10" placeholder="Dit Navn">
                <input id="contestant-lobby-color" name="color" type="color">

                {% if error %}
                <div id="contestant-lobby-error">{{ error }}</div>
                {% endif %}

                <input name="user_id" type="hidden" value="{{ user_id }}">
                <input id="contestant-lobby-join" type="submit" value="Join">
            </form>

        </div>
    </body>
    
    <script>
        setRandomColor();
    </script>
</html>