<!DOCTYPE html>
<html>
    {% include 'jeopardy/presenter_head.html' %}
    
    <body>
        <div id="bg-image"></div>

        <div id="menu-wrapper">
            {% include 'jeopardy/logo.html' %}

            <h2>Lobby kode</h2>
            <div style="text-align: center;"><div id="menu-lobby-code">{{ lobby_code }}</div></div>
            <div id="menu-lobby-url">Hop over til <span style="text-decoration: underline">https://mhooge.com/intfar/jeopardy</span> og join!</div>

            <h2>Deltagere</h2>
            <div id="menu-contestants"></div>

            <div id="menu-buttons">
                <button onclick="resetUsedQuestions(this);">Reset Spørgsmål</button>
            </div>

            <img id="menu-naafiri" src="{{ url_for('static', filename='img/naafiri_dance.gif') }}">
            <img id="menu-alistar" src="{{ url_for('static', filename='img/alistar_dance.gif') }}">
            <img id="menu-teemo" src="{{ url_for('static', filename='img/teemo_dance.gif') }}">
            <img id="menu-ivern" src="{{ url_for('static', filename='img/ivern_dance.gif') }}">
            <img id="menu-brand" src="{{ url_for('static', filename='img/brand_dance.gif') }}">
            <img id="menu-nidalee" src="{{ url_for('static', filename='img/nidalee_dance.gif') }}">
            <img id="menu-quinn" src="{{ url_for('static', filename='img/quinn_thonk.gif') }}">
            <img id="menu-vi" src="{{ url_for('static', filename='img/vi_point.gif') }}">
        </div>
    </body>

    <script>
        socket.on("connect", function() {
            socket.emit("presenter_joined");
            monitorPlayersJoining();
        });

        {% for player in player_data %}
        addPlayerDiv("{{ player['disc_id'] }}", "{{ player['name'] }}", "{{ player['avatar'] }}", "{{ player['color'] }}");
        {% endfor %}

        window.onkeydown = function(e) {
            if (e.key == "NumLock") {
                beginJeopardy();
            }
        }
    </script>
</html>