<!DOCTYPE html>
<html>
    {% include 'jeopardy/presenter_head.html' %}
    
    <body>
        <div id="bg-image"></div>

        <div id="menu-wrapper">
            {% include 'jeopardy/logo.html' %}

            <div id="menu-lobby-url">Skriv <span id="menu-join-command">!jeopardy</span> i <strong>CoreNibbas</strong> for at joine!</div>

            <h2>Deltagere</h2>
            <div id="menu-contestants"></div>

            <div id="menu-buttons">
                <button onclick="resetUsedQuestions(this);">Reset Spørgsmål</button>
            </div>

            <img id="menu-naafiri" src="{{ url_for('static', filename='img/naafiri_dance.gif') }}">
            <img id="menu-alistar" src="{{ url_for('static', filename='img/alistar_dance.gif') }}">
            <img id="menu-teemo" src="{{ url_for('static', filename='img/teemo_dance.gif') }}">
            <img id="menu-ivern" src="{{ url_for('static', filename='img/ivern_dance.gif') }}">
            <img id="menu-brand" src="{{ url_for('static', filename='img/brand_dance.gif') }}">
            <img id="menu-nidalee" src="{{ url_for('static', filename='img/nidalee_dance.gif') }}">
            <img id="menu-quinn" src="{{ url_for('static', filename='img/quinn_thonk.gif') }}">
            <img id="menu-vi" src="{{ url_for('static', filename='img/vi_point.gif') }}">
        </div>
    </body>

    <script>
        socket.on("connect", function() {
            socket.emit("presenter_joined");
            socket.on("player_joined", addPlayerDiv);
        });

        {% for player in player_data %}
        addPlayerDiv("{{ player['disc_id'] }}", "{{ player['index'] }}", "{{ player['name'] }}", "{{ player['avatar'] }}", "{{ player['color'] }}");
        {% endfor %}

        window.onkeydown = function(e) {
            if (e.key == PRESENTER_ACTION_KEY) {
                beginJeopardy();
            }
        }
    </script>
</html>