<!DOCTYPE html>
<html>
    {% include 'jeopardy/head.html' %}
    
    <body>
        <div id="bg-image" style="background-image: url({{ url_for('static', filename='img/jeopardy/' + bg_image) }});"></div>

        <div id="question-wrapper">
            <!-- Logo -->
            {% include 'jeopardy/logo.html' %}

            <!-- Category header -->
            <h2 id="question-category-header"><span id="question-category-span">{{ category_name }}</span>{% if round < 3 %}<br>{% if daily_double %}Daily Double!{% else %}til <span id="question-reward-span">{{ question_value }} GBP</span>{% endif %}{% if "choices" in question %} <img src="{{ url_for('static', filename='img/list.png') }}" id="question-choices-indicator">{% endif %}{% endif %}</h2>

            {% if daily_double %}
            {% set max_wager = [player_data[player_turn]["score"], 500 * round] | max %}
            <div id="question-wager-wrapper" class="d-none">
                <h3>Hvor mange GBP satser <span style="color: #{{ player_data[player_turn]['color'] }};">{{ player_data[player_turn]["name"] }}</span>? (max {{ max_wager }})</h3>
                <input id="question-wager-input">
            </div>
            {% endif %}

            <!-- Question header -->
            {% if "question" in question %}
            <h3 id="question-question-header">{{ question["question"] }}</h3>
            {% endif %}

            <!-- Question images -->
            {% if "image" in question %}
            <div id="question-question-image-wrapper">
                <img id="question-question-image" src="{{ url_for('static', filename='img/jeopardy/' + question['image'] ) }}"{% if "height" in question %} style="height: {{ question['height'] }}px"{% endif %}>
                {% if "answer_image" in question %}
                <img id="question-answer-image" src="{{ url_for('static', filename='img/jeopardy/' + question['answer_image'] ) }}" style="height: {{ question['height'] }}px;">
                {% endif %}
            </div>
            {% endif %}

            <!-- Question video -->
            {% if "video" in question %}
            {% if ".mp4" in question["video"] %}
            {% set video_type = "mp4" %}
            {% else %}
            {% set video_type = "webm" %}
            {% endif %}
            <div id="question-question-image-wrapper">
                <video id="question-question-video" style="height: {{ question['height'] }}px;"{% if 'volume' in question %} class="volume-{{ question['volume'] }}"{% endif %}>
                    <source src="{{ url_for('static', filename='img/jeopardy/' + question['video']) }}" type="video/{{ video_type }}">
                </video>
            </div>
            {% endif %}

            <div id="question-choices-wrapper">
                <!-- Answer choices -->
                {% if "choices" in question %}
                {% for option in question["choices"] %}
                <div id="question-answer-{{ loop.index }}" class="question-answer-entry">
                    <p>
                        <span class="question-answer-number">{{ loop.index}}:</span> <span class="question-answer-text">{{ option }}</span>
                    </p>
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <!-- Countdown wrapper -->
            <div id="question-countdown-wrapper">
                <div id="question-countdown-filled"></div>
                <div id="question-countdown-text">30</div>
            </div>

            <!-- Correct answer -->
            <div id="question-answer-correct" class="d-none">
                <div id="question-correct-reason">Korrekt!{% if "explanation" in question %} ({{ question["explanation"] }}){% endif %} <img class="question-result-avatar" src="{{ url_for('static', filename='img/happy_nono.png') }}"> <span class="question-answer-value"></span><img class="question-result-gbp d-none" src="{{ url_for('static', filename='img/gbp_coin.png') }}"></div>
            </div>

            <!-- Wrong answer -->
            <div id="question-answer-wrong" class="d-none">
                <div id="question-wrong-reason"><span id="question-wrong-reason-text"></span> <img class="question-result-avatar" src="{{ url_for('static', filename='img/nat_fine.png') }}"> <span class="question-answer-value"></span><img class="question-result-gbp d-none" src="{{ url_for('static', filename='img/gbp_coin.png') }}"></div>
                <p id="question-actual-answer" class="d-none">Rigtige svar var <span class="question-emph">'{{ question["answer"] }}'{% if "explanation" in question %} ({{ question["explanation"] }}){% endif %}</span></p>
            </div>
        </div>
    
        <!-- Contestants -->
        {% include 'jeopardy/contestants_footer.html' %}
    </body>

    <!-- Buzzer sound -->
    <audio id="question-buzzer-sound">
        <source src="{{ url_for('static', filename='sounds/buzzer.mp3') }}" type="audio/mpeg">
    </audio>

    <!-- Correct/wrong answers sounds -->
    {% if round < 3 %}
    {% for sound_list in sounds %}
    {% set correct_sound = loop.first %}
    {% for sound_file in sound_list %}
    <audio class="question-sound-{% if correct_sound %}correct{% else %}wrong{% endif %}">
        <source src="{{ url_for('static', filename='sounds/' + sound_file + '.mp3') }}" type="audio/mpeg">
    </audio>
    {% endfor %}
    {% endfor %}
    {% else %}
    <audio id="question-finale-suspense">
        <source src="{{ url_for('static', filename='img/jeopardy/supsense.mp3 ') }}" type="audio/mpeg">
    </audio>
    {% endif %}

    <script>
        setVariables(
            {{ round }},
            {{ player_data | tojson }},
            {{ player_turn }},
            {{ question_num }},
            "{{ question['answer'] }}",
            {{ question_value }},
            {{ question['id'] }},
            {{ daily_double | tojson }}
        );
        {% if daily_double %}
        document.getElementById("question-wager-wrapper").classList.remove("d-none");
        window.onkeydown = function(e) {
            if (e.key == "NumLock") {
                afterDailyDoubleWager();
            }
        }
        {% else %}
        window.onkeydown = function(e) {
            if (e.key == "NumLock") {
                showQuestion();
            }
        }
        {% endif %}

        placeAnswerImageIfPresent();
    </script>
</html>