<!DOCTYPE html>
<html>
    {% include 'jeopardy/head.html' %}
    <body>
        <div id="bg-image"></div>

        <div id="selection-wrapper">
            <!-- Logo -->
            {% include 'jeopardy/logo.html' %}
            {% set first_round = round == 1 and player_turn == -1 %}

            <!-- Categories -->
            {% if round < 3 %}
            <!-- Jeopardy! and Double Jeopardy! question selection -->
            <div id="selection-categories-wrapper">
                {% for category in categories %}
                <div class="selection-category-entry">
                    <div class="selection-category-header">
                        <span>{{ questions[category]["name"] }}</span>
                    </div>
                    {% for category_data in questions[category]["tiers"] %}
                    {% set final_value = category_data["value"] * round %}
                    <div class="selection-question-box{% if not category_data['active'] %} inactive{% endif %}"
                    {% if category_data['active'] %}onclick="goToQuestion(event.target, '{{ category }}', {{ loop.index }})"{% endif %}>
                        <span>{{ final_value }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            {% else %}

            <!-- Final Jeopardy! question selection -->
            <div id="selection-finale-wrapper">
                <h1>Final Jeopardy!</h1>
                <h2 id="selection-finale-header1">Kategorien er...</h2>
                <h2 id="selection-finale-header2">{{ questions[categories[0]]["name"] }}</h2>
                <h3 id="selection-finale-header3">Tid til at satse hele baduljen!</h3>
            </div>

            <script>
                showFinaleCategory('{{ categories[0] }}');
            </script>

            <!-- Jeopardy theme music -->
            <audio id="selection-jeopardy-theme">
                <source src="{{ url_for('static', filename='img/jeopardy/jeopardy_theme.mp3') }}" type="audio/mpeg">
            </audio>
            {% endif %}

            <!-- Contestants -->
            {% include 'jeopardy/contestants_footer.html' %}
        </div>
    </body>

    <script>
        setVariables(
            {{ round }},
            {{ player_data | tojson }},
            {{ player_turn }},
            {{ question_num }}
        );

        {% if round == 1 and player_turn == -1 %}
        window.onkeydown = function(e) {
            if (e.key == "NumLock") {
                let turn = chooseStartingPlayer();
                console.log(turn);
                setPlayerTurn(turn, true);
            }
        };
        {% elif round < 3 %}
        setPlayerTurn({{ player_turn }});
        {% endif %}
    </script>
</html>