<head>
    <title>Int-Far{% if subtitle %} - {{ subtitle }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <meta property="og:title" content="Int-Far - Where League Careers Come To Die" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mhooge.com/intfar" />
    <meta property="og:image" content="https://mhooge.com/intfar/preview.png" />
    <meta property="og:description" content="View Int-Far stats, create bets, upload sounds, and more. Witness how bad you are at League in 4K!" />

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-48.png') }}" sizes="48x48">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap-grid.min.css') }}"/>
	<script src="{{ url_for('static', filename='js/bootstrap/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game_backgrounds/' + game + '.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>