<!DOCTYPE html>
<html>
<head>
    <title>LAN {{ lan_month }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', _external=True, filename='img/favicon-32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', _external=True, filename='img/favicon-48.png') }}" sizes="48x48">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/bootstrap/bootstrap-grid.min.css') }}"/>
    <script src="{{ url_for('static', _external=True, filename='js/bootstrap/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', _external=True, filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/lan.css') }}">
</head>
<body>
    {% if games_played or active_game %}
    <div id="bg-image"></div>
    {% endif %}
    <div id="lan-wrapper" class="container-flex">
        {% if games_played or active_game %}
        <h1>LAN {{ lan_month }} {{ lan_year }}</h1>
        {% endif %}

        <div class="row">
            {% if games_played or active_game %}
            <div id="lan-now-playing-wrapper">
                <h2>Now Playing 🎵</h2>
                <div id="lan-now-playing">Nada</div>
            </div>

            <div id="lan-left-column" class="col-lg-5">
                <h2>LAN Stats & Bingo</h2>
                {% if games_played %}
                <p id="lan-duration">We have been banging for: <span class="lan-emph">{{ duration_since_start }}</span></p>
                <p id="lan-game-results">
                    Track record: {% for win in game_results %}{% if win == 1 %}<span class="lan-won lan-emph">W</span>{% else %}<span class="lan-lost lan-emph">L</span>{% endif %}{% endfor %}
                    <span> ({{ games_won }} - {{ games_lost }})</span>
                </p>
                <p id="lan-longest-game">Longest game: <span class="lan-emph">{{ longest_game }}</span></p>
                <p id="lan-intfars">Int-Fars awarded: <span class="lan-emph">{{ intfars }}</span></p>
                <p id="lan-doinks">Doinks awarded: <span class="lan-emph">{{ doinks }}</span></p>
                <p id="lan-champs">Champions played: <span class="lan-emph">{{ champs_played }}</span></p>
                {% else %}
                <h3 style="margin-bottom: 1.5rem;">No games played yet. Go get em' bois!</h3>
                {% endif %}

                <div id="lan-bingo-wrapper" class="container-flex">
                    {% if bingo_challenges %}
                        {% for row in bingo_challenges %}
                        <div class="row">
                            {% for bingo_entry in row %}
                            <div class="lan-bingo-entry{% if bingo_entry['bingo'] %} bingo-bingo{% elif bingo_entry['completed'] %} bingo-completed{% endif %}"{% if bingo_entry['progress'] %} data-progress="{{ bingo_entry['progress'] }}" data-total="{{ bingo_entry['total'] }}"{% endif %}>
                                {%- if bingo_entry['completed_by'] %}
                                <div class="lan-bingo-person"><img src="{{ bingo_entry['completed_by'] }}"></div>
                                {% endif %}

                                <div class="lan-bingo-desc">
                                    {{ bingo_entry['name'] }}
                                </div>

                                {% if bingo_entry['new_progress'] %}
                                <div class="lan-bingo-updated">
                                    <img src="{{ url_for('static', filename='img/bingo_progress.png', _external=True) }}"><img src="{{ url_for('static', filename='img/bingo_progress.png', _external=True) }}">
                                </div>
                                {% endif %}

                                {%- if bingo_entry['total'] > 1 %}
                                <div class="lan-bingo-desc-progress">{{ bingo_entry['progress'] }}/{%- if bingo_entry['id'] == 'damage_dealt' %}1M{% else %}{{ bingo_entry['total'] }}{% endif %}</div>
                                {% endif %}
                                {% if bingo_entry['total'] > 1 and not bingo_entry['completed'] and not bingo_entry['bingo'] %}
                                <div class="lan-bingo-progress-bar"></div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}

                        <!-- Bingo plate is all filled out -->
                        {% if bingo_completed %}
                        <h3>
                            BINGO BANGO BONGO<br>
                            GG WP!
                        </h3>
                        {% endif %}
                    {% else %}
                    No Bingo this LAN :)
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-7">
                {% if active_game %}
                <div id="lan-active-game-wrapper">
                    <h2 id="lan-live-game-header">Live Game <div id="live-indicator"></div></h2>
                    <!--<h3>{{ active_game }}{% if chance_to_win %} - {{ chance_to_win }}% odds{% endif %}</h3>-->
                    {% for side_splashes, is_our_side in champ_splashes %}
                    {% set blue_side = loop.first %}

                    <div id="{% if blue_side %}lan-blue-side-wrapper{% else %}lan-red-side-wrapper{% endif %}">
                        {% if blue_side %}
                        {% if is_our_side %}
                        <h3 class="lan-our-team">The Dream Team</h3>
                        {% else %}
                        <h3 class="lan-enemy-team">Some Random Scrubs</h3>
                        {% endif %}
                        {% endif %}

                        {% for splash, face, x, y, w, h in side_splashes %}
                        <div class="lan-champ-splash-wrapper">
                            <img class="lan-champ-splash lan-champ-splash-{% if blue_side %}blue{% else %}red{% endif %}" src="{{ splash }}">
                            {% if is_our_side %}
                            <img class="lan-champ-face" style="left: {{ x }}%; top: {{ y }}%; width: {{ w }}%; height: {{ h }}%;" src="{{ face }}">
                            {% endif %}
                        </div>
                        {% endfor %}

                        {% if not blue_side %}
                        {% if is_our_side %}
                        <h3 class="lan-our-team" style="margin-top: 0.5rem;">The Dream Team</h3>
                        {% else %}
                        <h3 class="lan-enemy-team" style="margin-top: 0.5rem;">Some Randoms</h3>
                        {% endif %}
                        {% endif %}
                    </div>

                    {% if blue_side %}
                    <img id="lan-vs-img" src="{{ url_for('static', _external=True, filename='img/versus.png') }}">
                    {% endif %}

                    {% endfor %}

                    <!-- Live event feed -->
                    <div id="lan-live-game-feed-wrapper" data-fade="5">
                        <div></div>
                    </div>

                </div>
                {% else %}
                <div id="lan-best-worst-wrapper">
                    <h2>Performance Leaderboard</h2>
                    <table>
                        <tr id="lan-perform-first-row">
                            <th class="lan-perform-entry lan-perform-entry-0"></th>
                            {% for stat_name in stat_names %}
                            <th class="lan-perform-entry lan-perform-entry-{{ loop.index }}">{{ stat_name }}</th>
                            {% endfor %}
                        </tr>
                        {% for player_score, player_avatar, player_stats in all_player_stats %}
                        <tr>
                            <td class="lan-perform-entry lan-perform-entry-0"><img class="lan-performance-avatar" src="{{ player_avatar }}"></td>
                            <td class="lan-perform-entry lan-perform-entry-1">{{ player_score }}</td>
                            {% for stat_value in player_stats %}
                            <td class="lan-perform-entry lan-perform-entry-{{ loop.index + 1 }}">{{ stat_value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="lan-tilt-meter-wrapper">
                    <h2>Tilt-O-Meter</h2>
                    <div id="lan-tilt-meter">
                        {% if tilt_color %}
                        <div id="lan-tilt-filled" style="width: {{ tilt_value }}%; background-color: {{ tilt_color }};"></div>
                        {% endif %}
                        <h3 id="lan-tilt-text">{% if tilt_color %}{{ tilt_value }}%{% else %}0%{% endif %}</h3>
                    </div>
                </div>

                <div id="lan-latest-game-wrapper">
                    <h2>Latest Game</h2>
                    <p>Game {% if latest_win == 1 %}<span class="lan-won">won</span>{% else %}<span class="lan-lost">lost</span>{% endif %} <span id="lan-game-duration">{{ duration_since_game }}</span> ago.</p>
                    {% if latest_intfar_name %}
                    <p>
                        <span class="lan-emph">{{ latest_intfar_name }}</span> got Int-Far for <span class="lan-emph">{{ latest_intfar_reason }}</span>
                    </p>
                    {% endif %}
                    {% for doinks_name, doinks_reason in latest_doinks %}
                    <p><span class="lan-emph">{{ doinks_name }}</span> got Doinks for <span class="lan-emph">{{ doinks_reason }}</span></p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% else %}
            <div id="lan-no-games-wrapper" class="col-lg-12">
                <h1>WAITING FOR<br>LAN TO BEGIN</h1>
                <video autoplay muted loop>
                    <source src="{{ url_for('static', _external=True, filename='img/login_screens_thommy.mp4') }}" type="video/mp4">
                </video>
            </div>
            {% endif %}
        </div>
    </div>
    {% if games_played and not active_game %}
    <video autoplay muted loop class="lan-catjam">
        <source src="{{ url_for('static', _external=True, filename='img/catjam.webm') }}", type="video/webm">
    </video>
    {% endif %}
    <script src="{{ url_for('static', _external=True, filename='js/lan.js') }}"></script>
    <script>
        monitor("{{ games_played }}", "{{ active_game }}", "{{ lan_over }}", "{{ lan_date }}");
    </script>
</body>
</html>