<!DOCTYPE html>
<html>
{% set subtitle = 'Soundboard' %}
{% include 'head.html' %}
{% import "navbar.html" as navbar %}
<body>
    <div id="soundboard-wrapper" class="container-flex">
        {{ navbar.navbar(game, all_games, logged_in_user, logged_in_name, logged_in_avatar, active_game_data, admin_id) }}
        <h1>Soundboard</h1>

        <div id="soundboard-inner-wrapper">
            <h2>All Sounds</h2>

            <div id="sounds-sort-wrapper">
                <img id="sounds-sort-ascending" class="sounds-sort-order-button" src="{{ url_for('static', filename='img/arrow_down_2.png') }}">
                <img id="sounds-sort-descending" class="sounds-sort-order-button" src="{{ url_for('static', filename='img/arrow_up_2.png') }}">
                <button class="sounds-sort-button" onclick="sortSounds('alphabetical', this)">
                    <img src="{{ url_for('static', filename='img/alphabetical.png') }}">
                </button>
                <button class="sounds-sort-button sounds-highlighted-sort-btn" onclick="sortSounds('chronological', this)">
                    <img src="{{ url_for('static', filename='img/chronological.png') }}">
                </button>
            </div>

            <div class="all-sounds-wrapper">
                {% for sound_file, owner_id, plays, timestamp in sounds %}
                <div class="audio-player-wrapper" data-name="{{ sound_file }}" data-timestamp="{{ timestamp }}">
                    <h3>{{ sound_file }}</h3>
                    {% if logged_in_user %}
                    <audio controls>
                        <source src="{{ url_for('static', filename='sounds/' + sound_file + '.mp3') }}" type="audio/mpeg">
                    </audio>
                    {% if logged_in_user == owner_id or logged_in_user == admin_id %}
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('soundboard.delete') }}">
                        <input type="hidden" name="filename" value="{{ sound_file }}">
                        <input class="audio-delete-btn" type="submit" value="Delete">
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            {% if logged_in_user %}
            <h2>Upload Sound File</h2>
            <div>
                <form id="upload-sound-form" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <br>
                    <input type="submit" value="Upload">
                </form>
    
                <div id="upload-sound-status">
                    {% if status_msg %}
                        <p class="{% if upload_success %}upload-success{% else %}upload-failed{% endif %}">
                            {% if upload_success %}Big nice! {% else %}Error: {% endif %}{{ status_msg }}
                        </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/soundboard.js') }}">

    </script>
</body>
</html>