/****************##############****************\
|                    SHARED                    |
\****************##############****************/

@font-face {
    font-family: fancy;
    src: url(../fonts/Yellowtail-Regular.ttf);
}

@font-face {
    font-family: tektur;
    src: url(../fonts/TekturNarrow-Bold.ttf);
}

@font-face {
    font-family: league;
    src: url(../fonts/Friz_Quadrata_Bold.otf);
}

body {
    background-color: rgb(17, 17, 17);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(228, 228, 228);
    overflow-x: hidden;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

:root {
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

select {
    word-wrap: normal;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1, h2, h3, h4 {
    text-align: center;
    color: rgb(228, 228, 228);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2 {
    margin-bottom: 1rem;
}

tbody, td, th, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-icon {
    position: absolute;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #496688; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.emph {
    font-weight: 800;
    text-decoration: underline;
}

.name {
    color: rgb(41, 179, 167);
}

.discord-avatar {
    clip-path: circle();
}

.intfar-navbar {
    align-items: center;
    background-color: black;
    position: sticky;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    padding-top: 0;
    top: 0;
    z-index: 98;
    text-align: left;
}

#navbar-game-name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orange;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .intfar-navbar {
        height: 75px;
    }
}

.intfar-navbar .discord-avatar {
    width: 32px;
    height: 32px;
}

.new-emph {
    color: #ff3030;
    font-weight: 600;
    font-size: 0.7rem;
    vertical-align: top;
}

.navbar-user {
    font-size: 14px;
    text-align: right;
    height: 30px;
    margin-top: -5px;
    text-decoration: none !important;
}

.navbar-username {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: #337ab7;
}

.navbar-user .discord-avatar {
    background-color: gray;
    margin-left: 10px;
    box-sizing: border-box;
}

.navbar-user .discord-avatar-unknown {
    padding: 5px;
}

.navbar-menu a, .menu-separator {
    color: rgb(228, 228, 228);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 7.5px;
    vertical-align: middle;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

.menu-separator {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-active-game-wrapper {
    height: 130%;
    overflow-y: auto;
}

.navbar-active-game {
    text-align: center;
    color:rgb(22, 200, 133);
}

.active-game-mode, .active-game-duration {
    font-weight: 800;
}

@media screen and (max-width: 992px) {
    .navbar-active-game-wrapper {
        font-size: 0.9rem;
        margin-top: 10px;
    }

    .navbar-menu, .navbar-user {
        margin-top: 10px;
    }
}

@keyframes rotato {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg)
    }
}

#admin-restart-btn {
    font-size: 18px;
    background-color: #004d9f;
    border-radius: 20px;
    border: 2px #8c8c8c groove;
    color: #eee;
    cursor: pointer;
    position: absolute;
    padding: 0;
    padding-left: 0px;
    padding-left: 0px;
    padding-left: 10px;
    height: 28px;
    width: 28px;
    text-align: left;
    font-family: Consolas;
    font-weight: 800;
    right: 150px;
    top: 10px;
}

#admin-restart-btn:hover {
    background-color: #005ec2;
}

#admin-restart-btn:hover > .admin-restart-init {
    animation: rotato 2s linear 0s infinite normal forwards;
}

.admin-restart-waiting {
    animation: rotato 2s linear 0s infinite normal forwards;
}

.admin-restart-success, .admin-restart-waiting {
    display: none;
}

.admin-restart-success, .admin-restart-init {
    transition: opacity 1s;
}

.admin-restart-success {
    opacity: 0;
}

#admin-restart-btn > img {
    width: 24px;
    position: absolute;
    right: 10px;
    top: 0;
    left: 0;
}

.open-hamburger {
    position: absolute;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 !important;
    left: 0;
    cursor: pointer;
    z-index: 99;
    width: 40px;
    height: 100%;
    opacity: 0;
}

.open-hamburger:checked + .discord-avatar {
    filter: brightness(70%);
}

.nice-table {
    text-align: center;
    color: inherit;
    padding: 5px;
    width: 100%;
}

.empty-list {
    display: none;
}

.list-entry {
    margin: 0 auto;
    color: rgb(228, 228, 228);
    text-align: left;
    height: 60px;
}

.list-entry .discord-avatar {
    width: 48px;
    height: 48px;   
}

.list-entry > td > a:hover {
    text-decoration: underline;
}

.list-entry > td > a {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/****************##############****************\
|                     HOME                     |
\****************##############****************/

.feed-award {
    color: gold;
}

#intfar-all {
    border-right: 2px solid white;
}

@media screen and (max-width: 1200px) {
    #intfar-all {
        border-right: none;
    }
}

.feed-entry {
    height: 30px;
}

.feed-entry > td:nth-child(1) {
    text-align: left;
    width: 85%;
}

@media screen and (max-width: 540px) {
    .feed-entry > td:nth-child(1) {
        width: 75%;
    }
}

#feed-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

.feed-entry > td:nth-child(2) {
    text-align: right;
}

.intfar-list-entry > th:nth-child(5) {
    text-align: right;
}

.list-first {
    border-bottom: 1px solid white;
    height: 40px;
}

.list-first.intfar-list-entry {
    text-align: left;
}

.list-entry > td:nth-child(1) img {
    margin: 5px 0;
    margin-right: 10px;
}

.intfar-list-entry > td:nth-child(1) {
    width: 10%;
}

.intfar-list-entry > td:nth-child(2) {
    width: 60%;
    font-weight: 600;
    padding-right: 10px;
}

.intfar-list-entry > td:nth-child(3) {
    width: 15%;
}

.intfar-list-entry > td:nth-child(4) {
    width: 15%;
}

.intfar-list-entry > td:nth-child(5) {
    width: 10%;
    text-align: right;
}

.header-wrapper {
    border-bottom: 2px solid white;
    margin: 0 auto;
}

#header-wrapper-feed {
    width: 320px;
    margin-bottom: 10px;
}

#header-wrapper-intfars {
    width: 250px;
}

#intfar-list-wrapper {
    padding: 5px;
}

/****************##############****************\
|                     ABOUT                    |
\****************##############****************/

@keyframes bobbing_arrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

#about-wrapper {
    text-align: center;
    font-size: 18px;
}

#about-defintion-header {
    font-weight: 800;
    margin-bottom: 0;
}

.about-card {
    background-color: #000000b3;
    padding: 15px;
    width: 620px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 50px;
    border: 2px solid #3555ff;
    border-radius: 15px;
}

#about-scroll-down {
    margin-top: 90px;
    font-family: tektur;
    font-size: 3rem;
    color: #f01c1c;
}

#about-arrow-down {
    width: 80px;
    margin-top: 12px;
    margin-bottom: 100px;

    animation: bobbing_arrow 0.75s linear 0s infinite alternate both;
}

#about-card-commands {
    width: 800px;
}

#about-commands {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.commands-list-entry {
    margin-bottom: 10px;
}

.commands-list-entry > td:first-of-type {
    font-family: Consolas;
}

.paragraph-begin {
    font-size: 24px;
    font-weight: 800;
}

/****************##############****************\
|                    VERIFY                    |
\****************##############****************/

#verify-wrapper {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 12%;
}

#verify-wrapper img {
    margin-bottom: 20px;
}

#verify-home-btn {
    margin-right: 5px;
}

#verify-profile-btn {
    margin-left: 5px;
}

.standard-btn {
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.discord-command {
    background-color: black;
    font-family: Consolas;
}

/****************##############****************\
|                  MISC PAGES                  |
\****************##############****************/

#error-page-wrapper {
    margin-top: 5vh;
    text-align: center;
}

#error-page-wrapper img {
    height: 250px;
    margin-bottom: 1rem;
    filter: drop-shadow(0px 5px 15px white);
}

#no-user-wrapper {
    text-align: center;
}

/****************##############****************\
|                   PROFILE                    |
\****************##############****************/

#profile-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile-wrapper > h1 {
    font-size: 4vh;
    color: #5ba4f2;
    margin-bottom: 0;
}

#profile-wrapper > .row h2 {
    font-size: 3vh;
    text-decoration: underline;
}

#profile-wrapper h3 {
    font-size: 2.5vh;
    font-weight: 800;
    margin-top: 1rem;
}

#profile-wrapper .right {
    font-weight: 800;
}

#profile-avatar {
    width: 96px;
    height: 96px;
    border: 2px solid #ff3030;
    border-radius: 48px;
}

@media only screen and (max-width: 600px) {
    #profile-avatar {
        width: 72px;
        height: 72px;
        border-radius: 36px;
    }
}

.fancy-title {
    color: gold;
    font-size: 3.5vh;
    font-family: fancy, cursive;
    margin-top: 0.5rem;
}

#profile-intfars {
    font-size: 16px;
    border-left: 2px dashed white;
    border-right: 2px dashed white;
}

#profile-doinks {
    border-right: 2px dashed white;
}

.profile-simple-stats tr:nth-child(2) > td {
    padding-top: 8px;
}

.profile-simple-stats td:first-child, .profile-simple-stats th:first-child {
    text-align: left;
}

.profile-simple-stats td:nth-child(2), .profile-simple-stats th:nth-child(2) {
    text-align: right;
    font-weight: 800;
}

.profile-simple-stats td:last-child, .profile-simple-stats th:last-child {
    text-align: right;
    font-weight: 800;
    
}

.profile-simple-stats td, .profile-simple-stats th {
    padding-bottom: 2px;
    padding-top: 2px;
}

#profile-bets .bets-list-entry > td:nth-child(1) {
    width: 80%;
    padding-right: 10px;
}

#profile-bets .bets-list-entry > td:nth-child(2) {
    width: 5%;
}

#profile-bets .bets-list-entry > td:nth-child(3) {
    width: 15%;
}

#profile-resolved-bets {
    max-height: 750px;
    overflow-y: auto;
}

.gold-stat {
    color: gold;
}

.gold-description {
    margin-top: 1rem;
    font-style: italic;
}

/****************##############****************\
|                   BETTING                    |
\****************##############****************/

.betting-load-icon {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    left: 42%;
    top: 8%;
}

#bets-lists-wrapper {
    margin-top: 15px;
}

.bets-list-avatar {
    width: 7%;
}

.bets-list-avatar img {
    margin: 5px 0;
    margin-right: 10px;
}

.bets-list-name {
    width: 18%;
    font-weight: 600;
    padding-right: 10px;
}

.bets-list-date {
    width: 10%;
}

.bets-list-guild {
    width: 5%;
    text-align: center;
}

.bets-list-event {
    width: 26%;
    padding-right: 10px;
}

.bets-list-amount {
    width: 5%;
    padding-right: 10px;
}

.bets-list-result {
    width: 5%;
}

.bet-main, .bet-single  {
    height: 40px;
    border-top: 1px solid white;
}

.bet-follow {
    height: 40px;
}

.bet-won {
    color: rgb(30, 161, 30);
}

.bet-lost {
    color: rgb(197, 40, 29);
}

#no-active-bets {
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

#make-bet-wrapper {
    text-align: center;
    color: black;
}

#bet-balance, #bet-cost, #bet-payout {
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(228, 228, 228);
}

#bet-balance-value, #bet-payout-value, #bet-cost-value {
    font-weight: 800;
}

#bet-cost-value {
    color: rgb(197, 40, 29);
}

#bet-payout-value {
    color: rgb(30, 161, 30);
}

#bet-status {
    opacity: 0;
    font-size: 16px;
    height: 30px;
    margin-bottom: 0;
}

.success {
    opacity: 1 !important;
    color: rgb(30, 161, 30);
}

.error {
    opacity: 1 !important;
    color: rgb(197, 40, 29);
}

.hidden {
    opacity: 0;
}

#bets-all {
    overflow-y: auto;
    max-height: 1010px;
}

.bet-inputs {
    width: 250px;
    height: 28px;
    margin-bottom: 10px;
}

#bet-add-event, #bet-submit {
    position: relative;
    color: rgb(228, 228, 228);
    border: solid 2px rgb(228, 228, 228);
    background-color: rgb(28, 26, 61);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 140px;
    height: 36px;
    margin-bottom: 8px;
}

#bet-submit:disabled {
    background-color: rgb(43, 43, 43);
    cursor: default;
}

#bet-events-wrapper {
    height: 280px;
    overflow-y: auto;
    background-color: rgb(44, 44, 44);
    border: solid 1px rgb(228, 228, 228);
}

#bet-events-list {
    width: 100%;
    max-height: 280px;
}

#bet-events-list > tbody {
    vertical-align: top;
}

.event-row {
    height: 20px;
}

.event-row > th:nth-child(4) {
    width: 5%;
}

.event-row > td:nth-child(1), .event-row > th:nth-child(1) {
    width: 40%;
}

.event-row > td:nth-child(2), .event-row > th:nth-child(2) {
    width: 15%;
}

.event-row > td:nth-child(3), .event-row > th:nth-child(3) {
    width: 40%;
}

.event-row > td:nth-child(4), .event-row > th:nth-child(4) {
    width: 5%;
}

.tokens-list-entry > td:nth-child(1) {
    width: 10%;
}

.tokens-list-entry > td:nth-child(2) {
    width: 60%;
    padding-right: 10px;
}

.tokens-list-entry > td:nth-child(3) {
    width: 30%;
}

.bets-delete-btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.event-row.header {
    border-bottom: 2px solid white;
}

.event-row > th, .event-row > td {
    text-align: center;
    padding: 5px 0;
}

.doinks-table-wrapper {
    padding: 0 15px;
}

#doinks-table-the-third {
    border-left: solid 2px white;
}

#doinks-table-the-second {
    border-left: solid 2px white;
    border-right: solid 2px white;
    padding: 0 15px;
}

@media screen and (max-width: 992px) {
    #doinks-table-the-second {
        border-left: none;
        border-right: none;
    }
}

.doinks-table-wrapper > table td:nth-of-type(2), .doinks-table-wrapper > table th:nth-of-type(2) {
    text-align: right;
}

.multi-doinks-table td:nth-of-type(1) {
    width: 120px;
    text-align: center;
}

.doinks-main-table td:nth-of-type(2) {
    width: 40%;
}

.doinks-main-table th:nth-of-type(3), .doinks-main-table th:nth-of-type(4) {
    text-align: right;
}

.doinks-main-table td:nth-of-type(3), .doinks-main-table td:nth-of-type(4) {
    text-align: right;
}

@media screen and (min-width: 992px) {
    #doinks-table-the-third {
        border-left: none;
    }
}

@media screen and (max-width: 766px) {
    #doinks-table-the-third {
        border-left: none;
    }
}

/****************##############****************\
|                  SOUNDBOARD                  |
\****************##############****************/

#upload-sound-form {
    font-size: 1.1rem;
}

#upload-sound-form > input[type=submit] {
    margin-top: 10px;
}

#upload-sound-status {
    margin-top: 10px;
}

.upload-success {
    color: #1df01d;
}

.upload-failed {
    color: red;
}

#soundboard-wrapper {
    text-align: center;
}

#soundboard-inner-wrapper {
    display: inline-block;
}

#soundboard-inner-wrapper > h2 {
    border-top: 2px solid white;
    padding-top: 10px;
}

.audio-player-wrapper {
    display: block;
    padding-bottom: 10px;
    border-bottom: 2px inset;
}

.audio-player-wrapper > h3 {
    color: #73c8ea;
}

.all-sounds-wrapper {
    max-height: 40vh;
    overflow-y: scroll;
    margin-bottom: 20px;
}

#sounds-sort-wrapper {
    position: relative;
}

.sounds-sort-button {
    padding: 4px 6px;
    border: solid 2px white;
    width: 38px;
    height: 38px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}

.sounds-sort-button > img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.sounds-highlighted-sort-btn {
    border-color: aquamarine;
}

.sounds-sort-order-button {
    position: absolute;
    height: 32px;
    right: calc(50% + 46px);
    top: 4px;
}

#sounds-sort-descending {
    display: none;
}

.audio-delete-btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-color: red;
    padding: 4px 10px;
}

/****************##############****************\
|                     LISTS                    |
\****************##############****************/

#no-items-placeholder {
    margin-top: 15px;
    margin-bottom: 20px;
}

#no-lists-placeholder, #no-items-placeholder {
    font-weight: bold;
    font-style: italic;
}

#lists-wrapper {
    text-align: center;
}

#lists-wrapper h1 {
    margin-bottom: 2rem;
}

#lists-overview {
    max-height: 55vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

#create-list-wrapper, #add-item-wrapper {
    display: none;
    margin-top: 15px;
}

.show-form-btn {
    font-size: 18px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    background-color: #ff6600;
    padding: 5px 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-elem-name, .form-select {
    margin-bottom: 10px;
}

.form-btn {
    font-size: 18px;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}

.form-submit {
    background-color: #0fa627;
}

.form-abort {
    background-color: #df1313;
}

.undecorated-link {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

#list-view-header {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
}

#list-view-name {
    width: 250px;
    background-color: #0000007a;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    padding-right: 40px;
}

#edit-list-name-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    right: 9px;
    top: 9px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
}

#edit-name-img, #accept-edit-img, #edit-success-img {
    width: auto;
    height: 100%;
}

#accept-edit-img, #edit-success-img {
    display: none;
}

#edit-success-img {
    opacity: 1;
    transition: opacity 1s;
}

#lists-load-icon {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
}

.list-entry-wrapper {
    position: relative;
    width: 350px;
    margin: 10px;
    border: 2px outset white;
    background-color: #0e3ba65e;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.list-entry-name {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 800;
    color: white;
}

.list-entry-author {
    display: inline-block;
}

.list-entry-author-name {
    margin-left: 5px;
}

.list-entry-author-name:hover {
    text-decoration: underline;
}

.list-entry-count {
    margin-top: 5px;
    font-style: italic;
    font-weight: 800;
}

.list-error-wrapper {
    margin-top: 15px;
    color: red;
}

#list-items-wrapper {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 25px;
    max-height: 51vh;
    padding: 0 25px;
    overflow-y: auto;
}

.list-items-entry {
    position: relative;
    width: 230px;
    margin: 10px auto;
    border: 2px outset white;
    background-color: #ff00005e;
    font-size: 18px;
    padding: 8px 40px;
    border-radius: 10px;
}

.lists-delete-btn {
    position: absolute;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.lists-delete-btn > img {
    width: auto;
    height: 100%;
}

.delete-list-btn {
    width: 40px;
    height: 40px;
    top: calc(50% - 25px);
    right: 20px;
}

.delete-list-btn:hover {
    border: 1px solid red;
}

.delete-item-btn {
    width: 24px;
    height: 24px;
    top: calc(50% - 15px);
    right: 8px;
    color: white;
}

.delete-item-btn:hover {
    color: red;
}

#show-owned-lists {
    margin-top: 30px;
    margin-bottom: 15px;
}

.champ-portrait {
    position: absolute;
    left: 7px;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    clip-path: circle();
}

.list-view-btn {
    width: 165px;
}

#random-champ-btn {
    background-color: rgb(23, 105, 145);
}

.highlighted-entry {
    border: 2px solid #e8da0b;
}

/****************##############****************\
|                 Register CSGO                 |
\****************##############****************/
#csgo-register-wrapper h1 {
    margin-top: 100px;
    margin-bottom: 50px;
}

#csgo-register-wrapper h2 {
    font-size: 1.5rem;
}

#csgo-register-not-logged-in {
    text-align: center;
    font-size: 18px;
    margin-top: 100px;
}

#csgo-register-form {
    text-align: center;
    font-size: 18px;
    width: 675px;
    margin: 0 auto;
    background-color: #0009;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px;
}

#csgo-register-form > input {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background-color: #131313;
    color: white;
    width: 300px;
}

.csgo-register-helper {
    margin-bottom: 50px;
}

.csgo-register-helper > ol {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

.csgo-register-error-label {
    display: block;
    margin-top: 5px;
    color: red;
    font-size: 15px;
}

.csgo-input-error {
    border: 1px solid red;
}

.csgo-input-success {
    border: 1px solid green;
}

#csgo-register-submit {
    font-size: 22px;
    background-color: #1712ae;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

#csgo-register-success-wrapper {
    text-align: center;
}

.csgo-submit-success {
    color: #00ef0f;
    font-size: 20px;
}

.csgo-submit-error {
    color: red;
}