<!DOCTYPE html>
<html>
    {% include 'jeopardy/contestant_head.html' %}

    <body>
        <div id="contestant-lobby-wrapper">
            <h1>Velkommen til Jeopardy!</h1>

            <form action="{{ join_url }}" method="post" enctype="multipart/form-data">
                <img id="contestant-lobby-avatar" src="{{ avatar }}">
                <input id="contestant-lobby-avatar-input" name="avatar" type="file" hidden>

                <input id="contestant-lobby-name" name="name" required value="{{ player_name }}" maxlength="10" placeholder="Dit Navn">
                <input id="contestant-lobby-color" name="color" type="color">

                {% if error %}
                <div id="contestant-lobby-error">{{ error }}</div>
                {% endif %}

                <input name="user_id" type="hidden" value="{{ user_id }}">
                <input name="join_code" type="hidden" value="{{ join_code }}">
                <input name="password" type="hidden" value="{{ password }}">
                <input name="bg_image" type="hidden" value="{{ bg_image }}">
                <input name="buzz_sound" type="hidden" value="{{ buzz_sound }}">
    
                <input id="contestant-lobby-join" type="submit" value="Join">
            </form>
        </div>
    </body>
    
    <script>
        setValues("{{ user_id }}");
    </script>
</html>