<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', _external=True, filename='css/style.css') }}">
    </head>
    <body>
        <div id="under-construction-page-wrapper">
            <h1>👷‍♂️ Under Construction! 👷‍♂️</h1>
            <p>Cool CS2 stuff will be here soon, but it's not ready yet :)</p>
            <img src="{{ url_for('static', _external=True, filename='img/skummel_type.png') }}">
            <br>
            <a href="{{ url_for('lol.index.index', _external=True) }}">
                <button class="standard-btn">Go To League of Legends</button>
            </a>
        </div>
    </body>
</html>