<html>
{% include 'head.html' %}
{% import "bets_list_entry.html" as list_entry %}
{% import "navbar.html" as navbar %}
<body>
    <div id="betting-wrapper" class="container-flex">
        {{ navbar.navbar(logged_in_user, logged_in_name, logged_in_avatar, active_game_data) }}
        <h1>Betting</h1>

        <div class="row">
            <div class="d-lg-block col-lg-1 d-xl-none"></div>
            <div id="make-bet-wrapper" class="col-12 col-lg-4">
                <h2>Make Bet</h2>
                <select id="bet-event" onchange="betEventChanged();" class="bet-inputs">
                    {% for event_id, event_name in bet_events %}
                        <option {% if loop.first %}selected{% endif %} value="{{ event_id }}">{{ event_name }}</option>
                    {% endfor %}
                </select>
                <br>
                <input id="bet-amount" required placeholder="Betting Amount" class="bet-inputs">
                <br>
                <select disabled id="bet-target" class="bet-inputs">
                    <option selected value="any">No Target</option>
                        {% for target_id, target_name in targets %}
                        <option value="{{ target_id }}">{{ target_name }}</option>
                    {% endfor %}
                </select>
                <br>
                <input id="bet-players" class="bet-inputs" type="number" min="2" max="5" placeholder="Number of Players (Optional)">
                <br>
                <select id="bet-guild" class="bet-inputs">
                    {% if all_guild_data %}
                    {% for guild_id, guild_name in all_guild_data %}
                    <option {% if guild_id == main_guild_id %}selected{% endif %} value="{{ guild_id }}">
                        {{ guild_name }}
                    </option>
                    {% endfor %}
                    {% else %}
                    <option selected value="-1">You are not logged in.</option>
                    {% endif %}
                </select>
                <p id="bet-balance">
                    Token Balance: <span id="bet-balance-value">{{ token_balance }} GBP</span>
                </p>
                <p id="bet-cost">
                    Total Bet Cost: <span id="bet-cost-value">0 GBP</span>
                </p>
                <p id="bet-payout">
                    Minimum Payout: <span id="bet-payout-value">0 GBP</span>
                </p>
                <button id="bet-add-event" class="cooldown-btn" onclick="buttonClick(this, addEvent);">
                    <span>Add Event</span>
                </button>
                <button id="bet-submit" class="cooldown-btn" disabled onclick="buttonClick(this, makeBet, this);">
                    <span id="bet-submit-text">Finalize Bet</span>
                    <div class="loading-icon betting-load-icon d-none"></div>
                </button>
                <p id="bet-status"></p>
            </div>
            <div class="d-md-block col-md-2 d-lg-none"></div>
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                <h2>Current Bet</h2>
                <div id="bet-events-wrapper">
                    <table id="bet-events-list">
                        <tr class="event-row header">
                            <th>Event</th>
                            <th>Amount</th>
                            <th>Target</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="d-none d-md-block col-md-2 d-lg-block col-lg-1 d-xl-none"></div>
            <div class="d-none d-lg-block col-lg-2 d-xl-none"></div>
            <div id="bets-active" class="col-12 col-lg-8 col-xl-4">
                <h2>Active Bets</h2>
                {% if active_bets == [] %}
                <p id="no-active-bets">There are currently no active bets.</p>
                {% endif %}
                <table class="nice-table{% if active_bets == [] %} empty-list{% endif %}">
                    <tr class="list-first list-entry">
                        <th class="d-none d-sm-table-cell"></th>
                        <th>By</th>
                        <th style="padding-right: 10px;">Server</th>
                        <th>Event</th>
                        <th>GBP</th>
                        <th>Ticket</th>
                    </tr>
                    {% for better_id, name, date, guild, guild_id, events, result, payout, avatar in active_bets %}
                        {{ list_entry.entry(name, better_id, logged_in_user, date, guild, guild_id, events, result, payout, avatar) }}
                    {% endfor %}
                </table>
            </div>
            <div class="d-none d-lg-block col-lg-2 d-xl-none"></div>
        </div>

        <div id="bets-lists-wrapper" class="row">
            <div class="d-none d-sm-block col-sm-1 d-md-block col-md-2 d-lg-block col-lg-3 d-xl-none d-xxl-block col-xxl-1"></div>
            <div id="tokens-all" class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                <h2>Good-Boi Points</h2>
                <table class="nice-table">
                    <tr class="list-first list-entry">
                        <th class="d-none d-sm-table-cell"></th>
                        <th>Lad</th>
                        <th>Points</th>
                    </tr>
                    {% for disc_id, name, tokens, avatar in all_token_balances %}
                    <tr class="list-entry tokens-list-entry">
                        <td>
                            <a href="{{ url_for('users.user', disc_id=disc_id) }}">
                                <img src="{{ avatar }}" class="discord-avatar">
                            </a>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <a href="{{ url_for('users.user', disc_id=disc_id) }}">
                                {{ name }}
                            </a>
                        </td>
                        <td>{{ tokens }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-none  d-sm-block col-sm-1 d-md-block col-md-2 d-lg-block col-lg-3 d-xl-none col-xxl-1"></div>
            <div class="d-none d-sm-block d-lg-block col-lg-1 d-xl-none col-xxl-1"></div>
            <div id="bets-all" class="col-12 col-lg-10 col-xl-8 col-xxl-6">
                <h2>All Bets</h2>
                <table class="nice-table">
                    <tr class="list-first list-entry">
                        <th class="d-none d-sm-table-cell"></th>
                        <th>By</th>
                        <th>Date</th>
                        <th style="padding-right: 10px;">Server</th>
                        <th>Event</th>
                        <th>GBP</th>
                        <th>Result</th>
                    </tr>
                    {% for better_id, name, date, guild, guild_id, events, result, payout, avatar in resolved_bets %}
                        {{ list_entry.entry(name, better_id, logged_in_user, date, guild, guild_id, events, result, payout, avatar) }}
                    {% endfor %}
                </table>
            </div>
            <div class="d-none d-lg-block col-lg-1 d-xl-none d-xxl-block"></div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/betting.js') }}"></script>
<script>
{%if logged_in_user %}setLoggedInUser("{{ logged_in_user }}");{% endif %}
</script>
</html>