<html>
{% include 'head.html' %}
{% import "bets_list_entry.html" as list_entry %}
{% import "navbar.html" as navbar %}
<body>
    <div id="betting-wrapper" class="container-flex">
        {{ navbar.navbar(logged_in_user, logged_in_name, logged_in_avatar) }}
        <h1>Betting</h1>
        <div class="row">
            <div class="hidden-xs col-lg-1"></div>
            <div id="bets-all" class="col-xs-12 col-lg-5">
                <h2>All Bets</h2>
                <table class="intfar-list">
                    <tr class="list-first list-entry">
                        <th></th>
                        <th>By</th>
                        <th>Event</th>
                        <th>GBP</th>
                        <th>Result</th>
                    </tr>
                    {% for name, events, result, avatar in resolved_bets %}
                        {{ list_entry.entry(name, events, result, avatar) }}
                    {% endfor %}
                </table>
            </div>
            <div id="bets-active" class="col-xs-12 col-lg-5">
                <h2>Active Bets</h2>
                <table class="intfar-list">
                    <tr class="list-entry">
                        <th></th>
                        <th>By</th>
                        <th>Event</th>
                        <th>GBP</th>
                        <th>Result</th>
                    </tr>
                    {% for name, events, result, avatar in active_bets %}
                        {{ list_entry.entry(name, events, result, avatar) }}
                    {% endfor %}
                </table>
            </div>
            <div class="hidden-xs col-lg-1"></div>
        </div>
    </div>
</body>
</html>