<html>
{% include 'head.html' %}
{% import "bets_list_entry.html" as list_entry %}
{% import "navbar.html" as navbar %}
<body>
    <div id="betting-wrapper" class="container-flex">
        {{ navbar.navbar(logged_in_user, logged_in_name, logged_in_avatar) }}
        <h1>Betting</h1>
        
        <div class="row">
            <div class="hidden-xs col-lg-4"></div>
            <div id="make-bet-wrapper" class="col-xs-12 col-lg-2">
                <h2>Make Bet</h2>
                <select id="bet-event">
                    {% for event_id, event_name in bet_events %}
                        <option {% if loop.first %}selected{% endif %} value="{{ event_id }}">{{ event_name }}</option>
                    {% endfor %}
                </select>
                <br>
                <input id="bet-amount" type="number" placeholder="Betting Amount">
                <br>
                <select disabled id="bet-target">
                    <option selected value="any">Any Target</option>
                        {% for target in targets %}
                        <option>{{ target }}</option>
                    {% endfor %}
                </select>
                <p id="bet-payout">
                    Minimum Payout:<br>
                    <span id="bet-payout-value">0 GBP</span>
                </p>
                <p id="bet-error"></p>
                <button id="bet-add-event" onclick="addEvent();">Add Event</button>
                <br>
                <button id="bet-submit" onclick="makeBet();">Finalize Bet</button>
            </div>
            <div id="bet-events-wrapper" class="col-xs-12 col-lg-3">
                <h2>Bet Events</h2>
                <table id="bet-events-list">
                    <tr class="event-row header">
                        <th>Event</th>
                        <th>Amount</th>
                        <th>Target</th>
                    </tr>
                </table>
            </div>
            <div class="hidden-xs col-lg-3"></div>
        </div>

        <div class="row">
            <div class="hidden-xs col-lg-1"></div>
            <div id="bets-all" class="col-xs-12 col-lg-5">
                <h2>All Bets</h2>
                <table class="intfar-list">
                    <tr class="list-first list-entry">
                        <th></th>
                        <th>By</th>
                        <th>Event</th>
                        <th>GBP</th>
                        <th>Result</th>
                    </tr>
                    {% for bet_id, name, events, result, payout, avatar in resolved_bets %}
                        {{ list_entry.entry(name, events, result, payout, avatar) }}
                    {% endfor %}
                </table>
            </div>
            <div id="bets-active" class="col-xs-12 col-lg-5">
                <h2>Active Bets</h2>
                {% if active_bets == [] %}
                <p id="no-active-bets">There are currently no active bets.</p>
                {% else %}
                <table class="intfar-list">
                    <tr class="list-entry">
                        <th></th>
                        <th>By</th>
                        <th>Event</th>
                        <th>GBP</th>
                        <th>Ticket</th>
                    </tr>
                    {% for bet_id, name, events, result, payout, avatar in active_bets %}
                        {{ list_entry.entry(name, events, result, payout, avatar) }}
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            <div class="hidden-xs col-lg-1"></div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/betting.js') }}"></script>

</html>