<html>
{% include 'head.html' %}
{% import "navbar.html" as navbar %}
<body>
    <div id="betting-wrapper" class="container-flex">
        {{ navbar.navbar(logged_in_user, logged_in_name, logged_in_avatar, active_game_data) }}
        <h1>Doinks</h1>

        <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-1 col-xl-2 col-xxl-3"></div>
            <div class="doinks-table-wrapper col-12 col-sm-10 mb-sm-4 col-md-8 col-lg-5 col-xl-4 col-xxl-3">
                <table class="nice-table">
                    <tr class="list-first list-entry">
                        <th>Reason</th>
                        <th>Awards</th>
                    </tr>
                    {% for doinks_desc, doinks_count in doinks_data %}
                    <tr class="list-entry">
                        <td>{{ doinks_desc }}</td>
                        <td>{{ doinks_count }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-block col-sm-1 col-md-2 d-lg-none"></div>
            <div class="d-block col-1 col-sm-2 col-md-3 d-lg-none"></div>
            <div class="doinks-table-wrapper col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
                <table class="nice-table multi-doinks-table">
                    <tr class="list-first list-entry">
                        <th>Multi-Doinks</th>
                        <th>Occurences</th>
                    </tr>
                    {% for doinks_count in doinks_counts %}
                    <tr class="list-entry">
                        <td>{{ loop.index }}</td>
                        <td>{{ doinks_count }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-1 col-sm-2 col-md-3 col-lg-1 col-xl-2 col-xxl-3"></div>
        </div>
    </div>
</body>
</html>