<!DOCTYPE html>
<html>
{% set subtitle = 'Doinks' %}
{% include 'head.html' %}
{% import "navbar.html" as navbar %}
<body>
    <div id="doinks-wrapper" class="container-flex">
        {{ navbar.navbar(game, logged_in_user, logged_in_name, logged_in_avatar, active_game_data, admin_id) }}
        <h1>Doinks</h1>

        <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-2 d-lg-none d-xxl-block col-xxl-1 order-1"></div>
            <div id="doinks-table-the-second" class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-4 order-2 order-lg-3">
                <table class="nice-table doinks-main-table">
                    <tr class="list-first list-entry">
                        <th></th>
                        <th class="d-none d-sm-table-cell">Lad</th>
                        <th>Doinks</th>
                        <th>Unique Doinks</th>
                    </tr>
                    {% for disc_id, name, avatar, doinks, unique in doinks_persons %}
                    <tr class="list-entry">
                        <td>
                            <a href="{{ url_for(game + '.users.user', disc_id=disc_id) }}">
                                <img class="discord-avatar" src="{{ avatar }}" alt="Discord Avatar">
                            </a>
                        </td>
                        <td class="d-none d-sm-table-cell"><a href="{{ url_for(game + '.users.user', disc_id=disc_id) }}">{{ name }}</a></td>
                        <td>{{ doinks }}</td>
                        <td>{{ unique }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-1 col-sm-1 col-md-2 col-lg-3 d-lg-none order-3"></div>
            <div class="doinks-table-wrapper col-12 mb-sm-4 col-md-6 col-lg-4 col-xl-4 col-xxl-3 order-4 order-lg-2">
                <table class="nice-table">
                    <tr class="list-first list-entry">
                        <th>Reason</th>
                        <th>Awards</th>
                    </tr>
                    {% for doinks_desc, doinks_count in doinks_data %}
                    <tr class="list-entry">
                        <td>{{ doinks_desc }}</td>
                        <td>{{ doinks_count }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-1 col-sm-2 d-md-none order-5"></div>
            <div id="doinks-table-the-third" class="doinks-table-wrapper col-10 col-sm-8 col-md-6 col-lg-3 col-xl-3 col-xxl-3 order-last order-lg-4">
                <table class="nice-table multi-doinks-table">
                    <tr class="list-first list-entry">
                        <th>Multi-Doinks</th>
                        <th>Occurences</th>
                    </tr>
                    {% for doinks_count in doinks_counts %}
                    <tr class="list-entry">
                        <td>{{ loop.index }}</td>
                        <td>{{ doinks_count }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>