<!DOCTYPE html>
<html>
{% set subtitle = 'Lists' %}
{% include 'head.html' %}
{% import "navbar.html" as navbar %}
<body>
    <div id="lists-wrapper" class="container-flex">
        {{ navbar.navbar(game, all_games, logged_in_user, logged_in_name, logged_in_avatar, active_game_data, admin_id) }}
        <h1>Champion Lists</h1>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <label for="show-owned-lists">Show only my lists</label>
                <input id="show-owned-lists" name="show-owned-lists" type="checkbox" onchange="filterLists()">
                <div id="lists-overview">
                    <div id="no-lists-placeholder" class="{% if lists %}d-none{% else %}d-block{% endif %}">
                        No lists yet! Create one below :)
                    </div>
                    {% if lists %}
                    {% for list_id, list_name, owner_id, owner_name, owner_avatar, count in lists %}
                    <div class="list-entry-wrapper {% if owner_id == logged_in_user %} owned-list{% endif %}"
                        onclick="goToList('{{ url_for('lists.list_view', list_id=list_id) }}', event)">
                        <div class="list-entry-name">{{ list_name }}</div>
                        <div class="list-entry-author">
                            <span style="margin-right: 5px">By</span>
                            <img class="discord-avatar" src="{{ owner_avatar }}" alt="{{ owner_name }}'s Avatar">
                            <a class="list-entry-author-name undecorated-link" href="{{ url_for(game + '.users.user', disc_id=owner_id) }}">{{ owner_name }}</a>
                        </div>
                        <div class="list-entry-count">Contains {{ count }}</div>
                        {% if owner_id == logged_in_user %}
                        <button class="delete-list-btn lists-delete-btn" onclick="deleteList({{ list_id }}, this)">
                            <img src="{{ url_for('static', filename='img/trash.png') }}">
                        </button>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <button class="show-form-btn" onclick="toggleView('create-list-wrapper', true);">Create List</button>
                <div id="create-list-wrapper">
                    <form id="create-list-form" method="POST" enctype="multipart/form-data" action="{{ url_for('lists.create') }}">
                        <input class="form-elem-name" type="text" name="name" placeholder="List Name" required>
                        <br>
                        <input class="form-btn form-submit" type="submit" value="Create">
                        <button class="form-btn form-abort" type="button" onclick="toggleView('create-list-wrapper', false);">Cancel</button>
                    </form>
                </div>
                <div class="list-error-wrapper">
                    {% if error %}{{ error }}{% endif %}
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/lists.js') }}"></script>
</body>
</html>