{% macro navbar(discord_id, name, avatar, active_game_data) -%}
<div class="intfar-navbar row">
    <div class="navbar-menu order-1 order-lg-1 col-10 col-sm-9 col-lg-4 col-xl-3">
        <a href="{{ url_for('index.index') }}">
            Home
        </a><span class="menu-separator">|</span><a href="{{ url_for('betting.home') }}">
            Betting
        </a><span class="menu-separator">|</span><a href="{{ url_for('doinks.home') }}">
            Doinks
        </a><span class="menu-separator d-none d-sm-inline">|</span><br class="d-inline d-sm-none"><a href="{{ url_for('stats.home') }}">
            Stats
        </a><span class="menu-separator">|</span><a href="{{ url_for('soundboard.home') }}">
            Soundboard
        </a>
    </div>
    <div class="navbar-active-game-wrapper order-3 order-lg-2 col-12 col-lg-6">
        {% for game_data in active_game_data %}
        <div class="navbar-active-game">
            Active game: <span class="active-game-mode">{{ game_data[1] }}</span> in <span class="emph">{{ game_data[2] }}</span><br>
            Time since start: <span class="active-game-duration"></span>
        </div>
        {% endfor %}
    </div>
    <div class="navbar-user order-2 order-lg-3 col-2 col-sm-3 col-lg-2 col-xl-3">
        <a class="navbar-username d-none d-sm-inline" href="{% if discord_id %} {{ url_for('users.user', disc_id=discord_id) }}{% else %}{{ url_for('users.user_unknown') }}{% endif %}">
            <span>{{ name }}</span>
        </a>
        <a href="{% if discord_id %}{{ url_for('users.user', disc_id=discord_id) }}{% else %}{{ url_for('users.user_unknown') }}{% endif %}">
            <img 
                class="discord-avatar{% if not discord_id %} discord-avatar-unknown{% endif %}" 
                src="{% if avatar %}{{ avatar }}{% else %}{{ url_for('static', filename='img/questionmark.png') }}{% endif %}"
            >
        </a>
    </div>
</div>
<script src="{{ url_for('static', filename='js/game_monitor.js') }}"></script>
<script>
    {% if active_game_data != [] %}
    gameIsActive = true;
    parseData("{{ active_game_data }}");
    {% endif %}
    startMonitor();
</script>
{%- endmacro %}