{% macro navbar(disc_id, name, avatar) -%}
<div class="intfar-navbar row">
    <!--
        <input class="open-hamburger" type="checkbox">
        <img class="discord-avatar" src="{{ url_for('static', filename='img/menu.png') }}">
    -->
    <div class="navbar-menu">
        <a href="{{ url_for('index.index') }}">Home</a> | <a href="{{ url_for('betting.home') }}">Betting</a> | 
        <a href="{{ url_for('doinks.home') }}">Doinks</a> | <a href="{{ url_for('stats.home') }}">Stats</a>
    </div>
    <div class="navbar-user">
        <a class="navbar-username hidden-xs" href="{% if disc_id %} {{ url_for('users.user', disc_id=disc_id) }}{% else %}{{ url_for('users.user_unknown') }}{% endif %}">
            <span>{{ name }}</span>
        </a>
        <a href="{% if disc_id %} {{ url_for('users.user', disc_id=disc_id) }}{% else %}{{ url_for('users.user_unknown') }}{% endif %}">
            <img 
                class="discord-avatar{% if not disc_id %} discord-avatar-unknown{% endif %}" 
                src="{% if avatar %}{{ avatar }}{% else %}{{ url_for('static', filename='img/questionmark.png') }}{% endif %}"
            >
        </a>
    </div>
</div>
{%- endmacro %}