<html>
{% include 'head.html' %}
{% import "navbar.html" as navbar %}
<body>
    <div id="no-user-wrapper">
        {{ navbar.navbar(false, 'Unknown', false, false, false) }}
        <h1>You are not logged in!</h1>
        <p>You can fix this (assuming you are a member of League Nibbas).</p>
        <p>
            Write <span class="discord-command">!website_verify</span> in <span class="discord-command">#intfar-spam</span>
            and follow the instructions.
        </p>
    </div>
</body>
</html>