<html>
{% include 'head.html' %}
{% import "intfar_list_entry.html" as intfar_entry %}
{% import "bets_list_entry.html" as betting_entry %}
{% import "navbar.html" as navbar %}
<body>
    {{ navbar.navbar(logged_in_user, logged_in_name, logged_in_avatar, game_duration, game_mode, map_name) }}
    <div id="profile-wrapper" class="container-flex">
        <img id="profile-avatar" class="discord-avatar" src="{{ avatar }}"><br>
        <h1>{{ nickname }}</h1>
        {% if is_ifotm %}<h2 class="fancy-title">Int-Far of the Month Lead</h2>{% endif %}
        {% if is_goodest_boi %}<h2 class="fancy-title">Goodest Boi</h2>{% endif %}
        {% if most_doinks %}<h2 class="fancy-title">Young King Dave</h2>{% endif %}
        {% if most_intfars %}<h2 class="fancy-title">Grey Screen Enthusiast</h2>{% endif %}
        {% if most_reports %}<h2 class="fancy-title">Toxic Timmy</h2>{% endif %}
        <div class="row" style="margin-top: 1rem">
            <div class="col-md-6 col-xxl-3">
                <h2>Stats</h2>
                <div class="row">
                    <div class="d-sm-block col-sm-2 d-md-none d-xl-block col-xl-2 d-xxl-none"></div>
                    <div class="col-sm-8 col-md-12 col-xl-8 col-xxl-12">
                        {% for data, any_gold in game_stats %}
                        {% set best = loop.first %}
                        <h3>{% if best %}Best Stats{% else %}Worst Stats{% endif %}</h3>
                        <table class="nice-table profile-simple-stats">
                            <tr class="list-first">
                                <th>Stat Description</th>
                                <th>Times {% if best %}Best{% else %}Worst{% endif %}</th>
                                <th>{% if best %}Best{% else %}Worst{% endif %} Ever</th>
                            </tr>
                            {% for row_data, is_gold in data %}
                            <tr>
                                {% for col_data in row_data %}
                                <td{% if is_gold and loop.last %} class="gold-stat"{% endif %}>
                                    {{ col_data }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        {% if any_gold %}
                        <p class="gold-description">
                            <span class="gold-stat">Gold</span> means {% if best %}best{% else %}worst{% endif %} stat of everyone <strong>EVER!!</strong>
                        </p>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="d-sm-block col-sm-2 d-md-none d-xl-block col-xl-2 d-xxl-none"></div>
                </div>
            </div>
            <div id="profile-intfars" class="col-md-6 col-xxl-3">
                <h2>Intfars</h2>
                <div class="row">
                    <!-- Int-Far Stats -->
                    <div class="col-1 d-sm-none col-xxl-1 d-xxl-block"></div>
                    <div class="col-10 col-sm-6 col-md-12 col-lg-7 col-xl-6 col-xxl-10">
                        <table class="nice-table">
                            <tr>
                                <th></th>
                                <th>All Time</th>
                                <th>{{ curr_month }}</th>
                            </tr>
                            {% for row in intfar_data %}
                            <tr>
                                {% for col in row %}
                                <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-1 d-sm-none col-xl-1 d-xl-block"></div>

                    <!-- Int-Far Criteria -->
                    <div class="col-2 d-sm-none col-md-block col-md-2 col-xxl-2 d-lg-none d-xxl-block"></div>
                    <div class="col-8 col-sm-6 col-md-7 col-lg-5 col-xxl-8">
                        <h3 class="d-sm-none d-md-block d-lg-none d-xxl-block">Criteria Met</h3>
                        <table class="nice-table profile-simple-stats">
                            {% for reason, count in intfar_criteria_data %}
                            <tr>
                                <td>{{ reason }}:</td>
                                <td>{{ count }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-2 d-sm-none col-md-block col-md-3 col-xl-2 d-xl-none d-xxl-block"></div>
                </div>

                <!-- Int-Far Streaks -->
                <div class="row">
                    <h3>Streaks</h3>
                    <div class="col-1 col-sm-3 col-md-1 col-lg-2 col-xl-3 col-xxl-2"></div>
                    <div class="col-10 col-sm-6 col-md-9 col-lg-8 col-xl-6 col-xxl-8">
                        <table class="nice-table profile-simple-stats">
                            <tr>
                                <td>Longest Int-Far streak:</td>
                                <td>{{ streak }}</td>
                            </tr>
                            <tr>
                                <td>Longest no-Int-Far streak:</td>
                                <td>{{ non_streak }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-1 col-sm-3 col-md-2 col-lg-2 col-xl-3 col-xxl-2"></div>
                </div>

                <!-- Int-Far Relations -->
                <div class="row">
                    <h3>Intfar Relations</h3>
                    <div class="col-lg-12">
                        <table class="nice-table">
                            <tr class="list-first intfar-list-entry">
                                <th></th>
                                <th>Games with</th>
                                <th>IF</th>
                                <th>G</th>
                                <th>%</th>
                            </tr>
                            {% for name, disc_id, games, intfars, pct, avatar in intfar_relations %}
                                {{ intfar_entry.entry(disc_id, name, games, intfars, pct, avatar) }}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div id="profile-doinks" class="col-md-6 col-xxl-3">
                <h2>Doinks</h2>
                <!-- Big Doinks -->
                <div class="row">
                    <div class="col-1 col-sm-3 col-md-1 col-lg-2 col-xl-3 col-xxl-1"></div>
                    <div class="col-10 col-sm-6 col-md-10 col-lg-8 col-xl-6 col-xxl-10">
                        Big Doinks awarded: <strong>{{ doinks }}</strong>
                        <h3>Criteria Met</h3>
                        <table class="nice-table profile-simple-stats">
                            {% for reason, count in doinks_criteria_data %}
                            <tr>
                                <td>{{ reason }}:</td>
                                <td>{{ count }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-1 col-sm-3 col-md-1 col-lg-2 col-xl-3 col-xxl-1"></div>
                </div>

                <!-- Doinks Relations -->
                <div class="row">
                    <h3>Doinks Relations</h3>
                    <div class="col-lg-12">
                        <table class="nice-table">
                            <tr class="list-first intfar-list-entry">
                                <th></th>
                                <th>Games with</th>
                                <th>D</th>
                                <th>G</th>
                                <th>%</th>
                            </tr>
                            {% for name, disc_id, games, doinks, pct, avatar in doinks_relations %}
                                {{ intfar_entry.entry(disc_id, name, games, doinks, pct, avatar) }}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div id="profile-bets" class="col-md-6 col-xxl-3">
                <h2>Bets</h2>
                <p>Good boi points: <strong>{{ betting_tokens }}</strong></p>

                <div class="row">
                    <!-- Various Betting Stats -->
                    <div class="d-none d-sm-block col-sm-3 d-md-block col-md-1 d-lg-block col-lg-2 d-xl-block col-xl-3"></div>
                    <div class="col-12 col-sm-6 col-md-10 col-lg-8 col-xl-6 col-xxl-12">
                        <table class="nice-table profile-simple-stats">
                            {% for desc, count in betting_stats %}
                            <tr>
                                <td>{{ desc }}:</td>
                                <td>{{ count }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                        {% if bet_event_hi_freq %}
                            Event bet on most often:
                            <p>{{ bet_event_hi_freq }}</p>
                        {% endif %}
                        {% if bet_won_hi_freq %}
                            Event won most often:
                            <p>{{ bet_won_hi_freq }}</p>
                        {% endif %}
                        {% if bet_person_hi_freq %}
                            Other person bet on most often:
                            <p>{{ bet_person_hi_freq }}</p>
                        {% endif %}
                    </div>
                    <div class="d-none d-sm-block col-sm-3 d-md-block col-md-1 d-lg-block col-lg-2 d-xl-block col-xl-3"></div>
                </div>

                <div class="row">
                    <!-- Active Bets -->
                    <div class="col-lg-12">
                        <h3>Active Bets</h3>
                        {% if active_bets == [] %}
                        <p id="no-active-bets">There are currently no active bets.</p>
                        {% endif %}
                        <table class="nice-table{% if active_bets == [] %} empty-list{% endif %}">
                            <tr class="list-first list-entry">
                                <th>Event</th>
                                <th>GBP</th>
                                <th>Result</th>
                            </tr>
                            {% for date, events, result, payout in active_bets %}
                                {{ betting_entry.entry(false, false, logged_in_user, false, events, result, payout, false) }}
                            {% endfor %}
                        </table>
                    </div>
                    <!-- Resolved Bets -->
                    <div id="profile-resolved-bets" class="col-lg">
                        <h3>All Bets</h3>
                        {% if resolved_bets == [] %}
                        <p id="no-active-bets">No bets have been made (yet).</p>
                        {% endif %}
                        <table class="nice-table{% if resolved_bets == [] %} empty-list{% endif %}">
                            <tr class="list-first list-entry">
                                <th>Event</th>
                                <th>GBP</th>
                                <th>Result</th>
                            </tr>
                            {% for date, events, result, payout in resolved_bets %}
                                {{ betting_entry.entry(false, false, logged_in_user, false, events, result, payout, false) }}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>