<!DOCTYPE html>
<html>
<head>
    {% if question %}
    <title>LoL Quiz - Round {{ round }}</title>
    {% elif round == 3 %}
    <title>LoL Quiz - Category Selection</title>
    {% else %}
    <title>LoL Quiz</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-48.png') }}" sizes="48x48">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap-grid.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/bootstrap/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/quiz.css') }}">
</head>
<body>
    <div id="bg-image"></div>
    {% set show_menu = not question and not round %}
    <div id="quiz-wrapper" class="container-flex">
        <h1 style="margin-bottom: 0;{% if show_menu %}margin-top: 250px;{% endif %}">Den Store</h1>
        <img id="quiz-lol-logo" src="{{ url_for('static', filename='img/lol_logo.webp') }}">
        <h1 style="margin-top: -15px;">Quiz</h1>

        <div class="quiz-divider"></div>

        {% if question %}
        <!-- Show quiz question and and choices for answers. -->
        <h2 class="quiz-progress-header">Runde {{ round }}/3</h2>
        <h3 class="quiz-progress-header">Spørgsmål {{ question_num }}/{{ total_questions }}</h3>
        <div id="quiz-question-wrapper">
            <h2 id="quiz-category-header">{{ category }}</h2>
            <h3 id="quiz-question-header">{{ question }}</h3>
            <div id="quiz-answers-wrapper">
                {% for option in choices %}
                <div id="quiz-answer-{{ loop.index }}" class="quiz-answer-entry">
                    <p>
                        <span class="quiz-answer-number">{{ loop.index}}:</span> <span class="quiz-answer-text">{{ option }}</span>
                    </p>
                </div>
                {% endfor %}
            </div>
            <br>
            <div id="quiz-countdown-wrapper">
                <div id="quiz-countdown-filled"></div>
                <div id="quiz-countdown-text">30</div>
            </div>
        </div>
        <div id="quiz-answer-correct" class="d-none">
            <h2 id="quiz-correct-reason">Korrekt!</h2>
            <img class="quiz-result-avatar" src="{{ url_for('static', filename='img/happy_nono.png') }}">
            <p>{% if answer_text %}({{ answer_text }}){% endif %}</p>
        </div>
        <div id="quiz-answer-wrong" class="d-none">
            <h2 id="quiz-wrong-reason">Forkert</h2>
            <img class="quiz-result-avatar" src="{{ url_for('static', filename='img/nat_fine.png') }}">
            <p>Rigtige svar var:</p>
            <p><span class="quiz-emph">{{ answer }}</span>{% if answer_text %} ({{ answer_text }}){% endif %}</p>
        </div>
        {% elif out_of_questions %}
        <h1 id="quiz-out-of-questions">We have run out of questions :(</h1>
        {% elif round == 3 %}
        <!-- Show category selection in round 3. -->
        <h2 class="quiz-progress-header">Runde {{ round }}/3</h2>
        <h3 class="quiz-progress-header">Vælg en kategori</h3>
        <div id="quiz-categories-wrapper">
            {% for category, keyword, inactive in categories %}
            <div class="quiz-category-entry{% if inactive %} quiz-category-inactive{% endif %}" data-category="{{ keyword }}">
                <h3><span class="quiz-emph">{{ loop.index }}:</span> {{ category }}</h3>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <!-- Show main menu (before quiz is active). -->
        <div id="quiz-menu-wrapper">
            <div id="quiz-team-names">
                <h3>Blue team navn</h3>
                <input id="quiz-team-blue" value="Blue Team">
                <br>
                <h3>Red team navn</h3>
                <input id="quiz-team-red" value="Red Team">
            </div>
            <button onclick="resetUsedQuestions(this);">Reset Spørgsmål</button>

            <img id="quiz-menu-alistar" src="{{ url_for('static', filename='img/alistar_dance.gif') }}">
            <img id="quiz-menu-teemo" src="{{ url_for('static', filename='img/teemo_dance.gif') }}">
            <img id="quiz-menu-ivern" src="{{ url_for('static', filename='img/ivern_dance.gif') }}">
            <img id="quiz-menu-quinn" src="{{ url_for('static', filename='img/quinn_thonk.gif') }}">
        </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
    <script>
        window.onkeydown = function(e) {
            if (e.key == "NumLock") {
                showQuestion();
            }
        }
        setVariables("{{ answer }}", "{{ round }}", "{{ blue_team }}");
        scaleAnswerChoices();
        {% if round == 1 or round == 3 %}setBackgroundColor("{{ blue_team }}"){% endif %}
        {% if round == 3 and categories %}categorySelection(){% endif %}
        {% if show_menu %}
        window.onkeydown = function(e) {
            if (e.key == "NumLock") {
                beginQuiz();
            }
        }
        {% endif %}
    </script>
    {% if round == 2 %}
    <audio id="quiz-buzzer-sound">
        <source src="{{ url_for('static', filename='sounds/buzzer.mp3') }}" type="audio/mpeg">
    </audio>
    {% endif %}
    {% for sound_list in sounds %}
    {% set correct_sound = loop.first %}
    {% for sound_file in sound_list %}
    <audio class="quiz-sound-{% if correct_sound %}correct{% else %}wrong{% endif %}">
        <source src="{{ url_for('static', filename='sounds/' + sound_file + '.mp3') }}" type="audio/mpeg">
    </audio>
    {% endfor %}
    {% endfor %}
</body>
</html>