<!DOCTYPE html>
<html>
{% set subtitle = 'Register for CSGO' %}
{% include 'head.html' %}
{% import "navbar.html" as navbar %}
<body>
    <div id="register_csgo-wrapper" class="container-flex">
        {{ navbar.navbar(game, game_name, logged_in_user, logged_in_name, logged_in_avatar, active_game_data, admin_id) }}
        <h1>Register for CSGO</h1>

        <div class="row">
            <div class="d-none d-md-block col-md-1 col-lg-2 col-xxl-3"></div>
            <div class="col-12 col-md-10 col-lg-8 col-xxl-6">
                <form id="register_csgo-form">
                    <input name="steam_name" type="text" placeholder="Steam Account Name">
                    <input name="steam_id" type="text" placeholder="Steam ID">
                    
                    <div class="csgo_register-helper">
                        <h2>How do I find account name and ID?</h2>
                        <ol>
                            <li>Open Steam</li>
                            <li>Go to 'Settings'</li>
                            <li>Go to 'Account Details'</li>
                            <li>Account name and Steam ID is shown here</li>
                        </ol>
                    </div>

                    <input name="match_auth_code" type="text" placeholder="Match History Code">

                    <div class="csgo_register-helper">
                        <h2>How do I find match history code?</h2>
                        <ol>
                            <li>Go to this link: <a href="https://help.steampowered.com/en/wizard/HelpWithGameIssue/?appid=730&issueid=128"></a></li>
                            <li>Under 'Access to Your Match History' click 'Generate Code'</li>
                            <li>Paste the generated code above</li>
                        </ol>
                    </div>
                </form>
            </div>
            <div class="d-none d-md-block col-md-1 col-lg-2 col-xxl-3"></div>
        </div>
    </div>
</body>
</html>